*{
  color: black;
  background-color: pink;
}

h1{
  text-emphasis-color: lightBlue;
}

#startButton{
  background-color: lightGreen;
  font-size: 50px;
  font-family: Impact, sans-serif;
  box-sizing: content-box;
  width: 450px;
  height: 200px;
  padding: 5px;
  margin: 10px;
  border-color: darkGreen;
  border-width: thick;
  border-radius: 50px;
  visibility: visible;
}

.careerButton {
  background-color: yellow;
  font-size: 15px;
  font-family: Times;
  box-sizing: content-box;
  width: 75px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  border-color: black;
  border-width: thin;
  border-radius: 10px;
  visibility: hidden;
}

#careerText {
  font-style: bold;
  visibility: hidden;
}

.results {
  background-color: white;
  text-emphasis-color: blue;
  font-size: 10px;
  font-family: Times;
  box-sizing: content-box;
  width: 150px;
  height: 110px;
  padding: 5px;
  margin: 10px;
  border-color: black;
  border-width: thin;
  border-radius: 10px;
  visibility: hidden;
}

th, td{
  text-align: center;
}

tr{
  /* display: inline-table; */
  /* height: 150px; */
  width: 175px;
}

table{
  align-content: center;
}
